.style-button-back{
    float: right;
    margin-right: 30%;
}

.from-input{
    width: 40%;
    margin-top: 50px;
    float: right;
    margin-right: 30%;
}
.message-erro{
    text-align: center;
    color: red;
    width: 100%;
}
.line-input{
    margin-bottom: 2px;
    margin-top: 20px;
}

.btn-primary{
    float: right;
    margin-right: 5px;
}

#btn_back{
    margin-right: 5px  !important;
    float: right;    
    border: none !important;
}
