<div>
    <div class="col-md-7 p-0 card-right from-input">
        <div class="card tab2-card">
            <div class="card-body">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle><i class="icon-unlock"></i> Reset Password
                            <ng-template ngbTabContent>
                                <form [formGroup]="formResetPassword" class="form-horizontal auth-form"
                                    (submit)="savePassword()" novalidate>
                                    <div class="form-group">
                                        <input formControlName="password" type="password"
                                            class="form-control line-input" placeholder="Enter Password">
                                    </div>
                                    <label class="message-erro"
                                        *ngIf="formValidators.password.errors && displayErro">password must length
                                        longer 8 characters</label>

                                    <div class="form-group">
                                        <input required="" formControlName="rePassword" type="password"
                                            class="form-control line-input" placeholder="Enter Password Again">
                                    </div>
                                    <label class="message-erro"
                                        *ngIf="formValidators.rePassword.errors && displayErro">password must length
                                        longer 8 characters</label>

                                    <div class="form-button">
                                        <button [routerLink]="'/auth/login'" id="btn_back" class="btn btn-light">
                                            <app-feather-icons></app-feather-icons>
                                            Back
                                        </button>
                                        <button class="btn btn-primary mr-1" type="submit">Submit</button>
                                    </div>
                                </form>
                            </ng-template>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
                <a hidden [routerLink]="'/auth/login'" id="btn_back" class="btn btn-primary back-btn style-button-back">
                    <app-feather-icons [icon]="'arrow-left'"></app-feather-icons>
                    back
                </a>
            </div>
        </div>
    </div>

</div>