#title-property{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
#btn-add{
    width: 150px;
    float: right;
    // margin-left: 35%;
    // margin-right: 35%;
    // margin-top: 10px;
    // margin-bottom: 10px;
}
.message-erro{
    text-align: center;
    color: red;
    width: 100%;
    float: right;
    padding-left: 20%;
}