.message-erro {
    text-align: center;
    color: red;
    width: 100%;
    float: right;
    padding-left: 20%;
    position: absolute;
    top: 36px;
    left: -280px;
}
.line-input {
    margin-bottom: 2px;
    margin-top: 20px;
}
