<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-warning card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'navigation'" class="font-warning"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0">Earnings</span>
                            <h3 class="mb-0">
                                <span>{{sumEarningsValue}}</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-secondary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'box'" class="font-secondary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0"> Total Products</span>
                            <h3 class="mb-0">
                                <span class="counter" [CountTo]="countProduct" [from]="0" [duration]="2">{{ countProduct
                                    }}</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-primary card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'message-square'" class="font-primary"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0">Messages</span>
                            <h3 class="mb-0">
                                <span class="counter" [CountTo]="countComment" [from]="0" [duration]="2">{{ countComment
                                    }}</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 xl-50">
            <div class="card o-hidden widget-cards">
                <div class="bg-danger card-body">
                    <div class="media static-top-widget row">
                        <div class="icons-widgets col-4">
                            <div class="align-self-center text-center">
                                <app-feather-icons [icon]="'users'" class="font-danger"></app-feather-icons>
                            </div>
                        </div>
                        <div class="media-body col-8">
                            <span class="m-0">Total Customers</span>
                            <h3 class="mb-0">
                                <span class="counter" [CountTo]="countUser" [from]="0" [duration]="2">{{ countUser
                                    }}</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 xl-100">
            <div class="card">
                <div class="card-header">
                    <h5>Latest Orders</h5>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive latest-order-table">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Buyer Name</th>
                                    <th scope="col">Buyer Phone</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Actual Total Price</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                                        let order of orderListVM;
                                        index as i
                                    ">
                                    <td>{{ i + 1 }}</td>
                                    <td class="digits">
                                        {{ order.product.name }}
                                    </td>
                                    <td class="digits">
                                        {{ order.customer }}
                                    </td>
                                    <td class="digits">
                                        {{ order.phoneNumber }}
                                    </td>
                                    <td class="digits">
                                        {{ order.quantity }}
                                    </td>
                                    <td class="digits">
                                        {{ order.price }} VNĐ
                                    </td>
                                    <td class="digits">
                                        {{ order.actualPrice }} VNĐ
                                    </td>
                                    <td class="digits">
                                        {{
                                        order.createdDate | date: "fullDate"
                                        }}
                                    </td>
                                    <td class="digits">
                                        {{ order.statusString }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <a [routerLink]="['/orders/list-order']" class="btn btn-primary">View All Orders</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 xl-50">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div id="pieChart" style="width: 100%; height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 xl-50">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div id="barChart" style="width: 100%; height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 xl-100">
            <div class="card">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div id="lineChart" style="width: 100%; height: 400px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->